@charset "UTF-8";

/*
---------------------------------------------------------------------------------------------------------------------
メインビジュアル
---------------------------------------------------------------------------------------------------------------------
*/
#mv {
  width: 80%;
  max-width:800px;
  margin-top: 60px; 
}
